<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin: Menu </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="admin"> 
  <nav>
    <%- include('partials/_header') %>
  </nav>  
  <h1>admin menu</h1>
  <p id="small-link"><a href="../admin">back</a></p>
  <% for(let item of items) { %>
    
    <div class="menu-item">
      <header>
        <div class="content">
          <h5><%=item.title%></h5>
          <h4>Price: $<%= item.price %> | Inventory: <%= item.inventory %></h4>
          <h4><%= item.description %></h4>
        </div>
        <img src="<%= item.photo_url %>">
      </header>
      <footer>
        <form method="GET" action="/admin/admin_edit/<%= //item.id %>"><button type="submit" class="btn btn-outline-primary edit mid-btn">Edit</button></form>
        
        <!-- <button class="edit"></button> -->
      </footer>
    </div>


    <!-- <tr>
      <td><%= //item.description %></td>
      <newline><td>photo url: <%= //item.photo_url %></td></newline>
      <newline><td>price: <%= //item.price %></td></newline> 
      <newline><td>inventory: <%= //item.inventory %></td></newline>
      <td><form method="GET" action="/admin/admin_edit/<%= //item.id %>"></td>
        <button type="submit" class="btn btn-outline-primary">Edit</button>
    </tr> -->
  <% } %> 
  <form class="form-inline" action="/admin/admin_edit/" method="GET">

 
</html>