<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <nav>
    <%- include('partials/_header') %>
  </nav> 

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <p id="small-link"><a href="../admin">back</a></p>
  <h1>Order list</h1>
  <% for(let order of orders) { %>
    
    <div class="all-orders">
      <header>
        <tr>
          <td>Customer: <%= order.name %> |  <%= order.phone_number %></td>
          <newline><td>Ordered at: <%= order.order_datetime %></td></newline>
          <newline><td>Ordered: <%= order.title %></td></newline> 
          <newline><td>Quantity: <%= order.price %></td></newline>
          <newline><td>Total: <%= order.total %></td></newline>
          <newline><tr>Status: <%= order.status%></td></newline>
          <newline><tD>Completed: <%= order.completion_datetime %></td></newline>
          
        </tr>
      </header>
      <footer>
      </footer>
    </div>
  <% } %>
</body>

</html>