<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <nav>
    <%- include('partials/_header-admin') %>
  </nav> 

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="admin">
  <h1>Order list</h1>
  <p id="small-link"><a href="../admin">back</a></p>
  <% for(let order in orders) { %>
    
    <div class="all-orders">

          <h3>Customer: <%= orders[order].details.name %> |  <%= orders[order].details.phone_number %></h3>
          <p>
            Ordered at: <%= orders[order].details.order_datetime %><br>
            <% for(let item of orders[order].items) { %>
              Ordered: <%= item.title %>  | Qty: <%= item.price %><br>
            <% } %>

            <% if (orders[order].details.status !== "rejected") { %>
              Total: <%= orders[order].details.total %><br>
              <% } %>
              
            Status: <%= orders[order].details.status%><br>
            <% if (orders[order].details.status === 'completed') { %>
              Completed: <%= orders[order].details.completion_datetime %>
            <% } %>
          </p>
    </div>
  <% } %>
</body>

</html>