<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders in queue</title>
  <nav>
    <%- include('partials/_header') %>
  </nav> 

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="admin"> 
  <h1>Orders in queue</h1>
  <p id="small-link"><a href="../admin">back</a></p>
  <% for(let order of orders) { %>
    <h2>Order # <%=order.id%></h2>
    <tr>
      <td>Customer: <%= order.name %> |  <%= order.phone_number %></td>
      <newline><td>Ordered at: <%= order.order_datetime %></td></newline>
      <newline><td>Ordered: <%= order.title %></td></newline> 
      <newline><td>Quantity: <%= order.quantity %></td></newline>
      <!-- <newline><td>status: <%= order.status %></td></newline> -->
      <form class="form-inline" action="/admin/order/<%= order.id %>" method="GET">
        <button type="submit" class="btn btn-primary">View Order</button>
      </form>
      <form class="form-inline" action="/admin/order/<%= order.id %>/update" method="POST">
        <button type="submit" class="btn btn-primary">Completed</button>
      </form>
    </tr>
  <% } %>
  
</body>
</html>