<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Order Details - Order #<%=order.id%></title> 

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body class="admin">
    <nav>
      <%- include('partials/_header-admin') %>
    </nav>  

    <p id="small-link">
      <a href="../orders_in_queue">back</a>
    </p>

    <h1>Order #<%=order.id%></h1>
      <div>
      <h2>Customer:</em><%= order.name %></h2>
      <h2>Phone <%= order.phone_number %></h2>
      <h2>Ordered at: <%= order.order_datetime %></h2>
      <% for(let item of items) { %>
        <h2>Ordered: <%= item.title %></h2>
        <h2>Price: <%= item.price %></h2>
      <% } %>
      <h2>Total: <%= order.total %></h2>

      <h2>Estimated time: <input name='estimated_time' placeholder="<%= order.estimated_time %>"></h2>

      </div>
    <form class="form-inline " action="/admin/order/<%= order.id %>/accept" method="POST">
      <button type="submit" class="btn btn-primary">Accept order</button>
    </form>

    <form class="form-inline " action="/admin/order/<%= order.id %>/reject" method="POST">
      <button type="submit" class="button-accent">Reject order</button>
    </form>

  </body>
</html>